h1 {
  color: black;
}

body {
  margin: 0px;
  background-color: #66C4FC;
}

section {
  padding:calc(1em + 12px);
  padding-bottom: 12em;
  width:100vw;
}

section a {
  text-decoration: none;
}

.main-nav {
  background-color: #000080;
  overflow:hidden;
  scroll-behavior:smooth;
  border-bottom: solid;
}

.nav-container {
  height:calc(3em + 24px);
  margin-left: 125px;
}

.nav-entry-top {
  padding:calc(1em + 12px);
  width:100vw;
  font-family: Raleway;
  font-weight: bold;
  color: #43A1D2;
}

.nav-entry-top a:hover, a:focus, a:active {
  background-color: #137BCF;
  color: white;
}

.nav-entry {
  padding: calc(1em + 12px);
  font-family: Raleway;
  font-weight: bold;
  color: #43A1D2;
}

.main-nav a:hover, a:focus, a:active {
  background-color: #137BCF;
  color: white;
}

.main-nav a:focus{
  outline:none;
  box-shadow:none;
}

.nav-logo {
  float:left;
  padding: 10px;
  position: absolute;
}

*:focus {
    outline: none;
}
